@media only screen and (max-width: 400px)
  .subscription__footer
    justify-content: center

@media only screen and (max-width: 767px)
  .subscription
    &__header
      padding-left: 15px
    &__circle
      margin-right: 25px
      &:before
        height: 1px
        width: 25px
        right: -25px
    &__centered-block
      margin-top: 35px
    &__plan-container
      width: 300px
      margin-bottom: 24px
    &__plan
      width: 141.132px
      height: 141.132px
    &__forms
      & button
        left: 216px
    &__text-one
      padding: 0 !important
      & p
        font-size: 12px
        padding-right: 15px
    &__items
      padding: 0 !important
  .billings
      margin-top: 25px
  .pay__button
    & button
      width: 272px
@media screen and (max-width: 1200px)
  .billings
    &__container
       margin-bottom: 60px