@import 'variables.sass'

.all-page__wrapper 
  width: 100%
  height: 100vh
  box-sizing: border-box
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

.subscription
  &__footer
    min-height: 71px
    display: flex
    justify-content: flex-end
    align-items: flex-start
    
  &__header
    width: 100% 
    margin: 0 !important
    height: 53px
    border-bottom: 1px solid $gray-border 

  &__items
    padding: 0 
    height: 49px

  &__image
    width: 14px
    height: 26px

  &__circle
    display: inline-block
    margin-right: 45px
    width: 24px
    height: 24px
    border-radius: 50%
    background-color: $blue-color 
    position: relative

    &:before
      content: ""
      height: 1px
      width: 60px
      background: $blue-color
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: -60px

    &--last
      margin-right: 0

      &:before
        display: none

      &:before
        height: 1px
        width: 25px
        right: -25px

  &__top
    width: 100%

  &__centered-block
    margin-top: 90px

  &__centered-text
    p
      font-size: $font-medium
      color: $gray-text 

  &__plan-container
    width: 377px
    margin-top: 24px
    margin-bottom: 48px

  &__price-text
    color: $gray-text
    font-size: $font-small

  &__plan
    width: 178px
    height: 178px
    border: solid 1px
    position: relative
    cursor: pointer 
    border-color: $gray-text

    &-selected
      border-color: $blue-color 

    &-text
      color: $black-color 
       
    &:hover
      border-color: $blue-color 

  &__hover-touched
    width: 24px
    height: 24px
    background: $blue-color 
    position: absolute
    top: -12px
    left: -12px
    z-index: 3
    border-radius: 50%

    & img
      width: 14px
      height: 20px
      position: relative
      top: -1.5px
      left: 5px

    &--circle-hidden
      display: none
      border-color: $blue-color 

  &__forms
    display: none

    & small
      padding-left: 5px

    & button
      position: relative
      top: -55px
      left: 292px
      border-radius: 14px 
      color: #ffffff
      border: none
      font-size: $font-medium
      @extend .button-gray

  &__text-one
    p
      margin-bottom: 0
      padding-right: 27px
      color: $gray-text
      font-size: $font-medium

  &__page
    padding: 0 

  &__coupon-text
    & label
      font-size: $font-medium 
      color: $gray-text 
      cursor: pointer 

  &__title-style
    font-size: 18px
    margin-top: 6px
    color: $black-color

  &__payment-button
    border-radius: 22.5px
    color: #ffffff
    width: 226px
    height: 45px
    font-size: $font-medium
    border: none 
    margin: 0 28px
    @extend .button-green

.billings
  margin-top: 50px

  &__form-text
    font-size: $font-small
    color: #ff5050
    padding-left: 5px
    display: none

  &__container
    max-width: $page-two-blocks-max-width
    margin-bottom: 10px

  &__form-container
    margin: auto

  &__label-container
    width: 160px
    line-height: 1.7

    & label
      padding: 0
      margin: 0
      font-size: $font-medium
      color: $black-color 

    & button
      border-radius: 14px
      width: 82.5px

  &__input-container
    width: 100%
    height: 53px

    & input
      border: none
      border-bottom: 1px solid
      border-radius: 0
      border-color: $gray-text 
      font-size: $font-medium
      padding: 5.5px 0px

      &::placeholder
        color: $gray-text

    &--hidden
      display: none

  &__save-button
    width: 100%

    & button
      width: 50%
      height: 35px
      color: #ffffff
      font-size: $font-medium
      border: none
      border-radius: 17px
      padding: 0

      &:focus
        outline: none

  &__delete
    margin-right: 10px
    @extend .button-gray

  &__save-edit
    @extend .button-green

  &__edit-title
    width: 12px
    height: 12px

  &__number
    width: 60% 
    outline: none
    border-bottom: 1px solid
    height: 29px
    margin-right: 10%

    &:focus
      border-color: #5cb3fd

  &__extra
    width: 30% 
    float: right
    outline: none
    border-bottom: 1px solid
    height: 29px

    &:focus
      border-color: #5cb3fd

  &__border-style
    width: 1px
    background: #F2F2F2 
    height: 100%
    margin: auto

  &__control
    &-selected
      background: white
      border: none
      border-bottom: solid 1px #E6E6E6
      background: url(../assets/arrow.svg) no-repeat right center
      width: 100%
      background-size: 13px 
      background-position-y: center 
      background-position-x: 98% 
      -moz-appearance: none
      -webkit-appearance: none
      appearance: none
      text-align: start
      font-size: $font-medium
      padding-left: 7.5px

      &:focus
        outline: none

    & > .dropdown-menu
      width: 100%
      border-top: none
      border-radius: 0 0 4px 4px
      margin-top: 0
      padding: 2px 0 42px 0
      box-shadow : -3.42px 3.42px 4px rgba(158, 158, 158, 0.4)
      filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-3.42, OffY=3.42, Color='#9E9E9E')
    
    & .dropdown-item
      padding-left: 8px
      font-size: $font-medium

    & .dropdown-divider
      margin: 2px 8px

    & button 
      color: $black-color

.pay
  &__items
    height: 100%

  &__info
    max-width: $page-two-blocks-max-width

  &__text
    max-width: 363px
    & p
      font-size: $font-small 
      color: $gray-text

    &-gray
      margin-right: 6px
      font-size: $font-small 
      color: $gray-text

    &-blue
      font-size: $font-small 
      color: $blue-color 
      text-decoration: none
      &:hover
        text-decoration: none
        color: $blue-hover

  &__image
    img
      width: 280px
      height: 30px

  &__button
    & button
      background: $blue-color
      color: #ffffff
      width: 280px
      height: 35px
      border-radius: 17px
      font-size: $font-medium
      @extend .button-blue

.payment
  &__title
    margin-bottom: 32px
    margin-top: 8px

    &-text
      margin-bottom: 15px
      margin-top: 32px

      

  &__margin
    margin-bottom: 32px

  &__text
    max-width: 340px

    &-style
      font-size: $font-medium
      color: $black-color 
      font-weight: bold      

  &__image
    max-width: 389px
    height: auto
    margin-top: 31px

  &__footer
    height: 77px

#billings__edit
  display: none

#billings__delete
  display: none

#page-one
  height: 100% 

#page-two
  display: none

#title-container
  height: 53px
  cursor: pointer
  & label 
    cursor: pointer

#page-three
  height: 100% 
  display: none

#page-three-button
  display: none

.circle-hidden
  display: none

#add-coupon
  padding: 0 
  color: $gray-text 

#coupon
  border: none
  border-radius: 0
  border-bottom: solid 1px $gray-text
  font-size: $font-medium

  &::placeholder
    color: $gray-text

#coupon-invalid
  opacity: 0

@import 'media.sass' 