$gray-text: #B3B3B3
$gray-border: #E6E6E6
$blue-color: #00b0ff
$blue-hover: #0099de
$black-color: #4d4d4d
$green-color: #4BC46A
$font-medium: 14px
$font-small: 12px

$page-two-blocks-max-width: 500px !important

.button-blue
  border: none
  background: $blue-color

  &:focus
    outline: none
      
  &:hover 
    background: $blue-hover


.button-gray
  background: $gray-text

  &:focus
    outline: none
    
  &:hover
    background: #a0a0a0


.button-green
  background: $green-color

  &:focus
    outline: none

  &:hover
    background: #3cad59