@media only screen and (max-width: 400px) {
  .subscription__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 767px) {
  .subscription__header {
    padding-left: 15px; }
  .subscription__circle {
    margin-right: 25px; }
    .subscription__circle:before {
      height: 1px;
      width: 25px;
      right: -25px; }
  .subscription__centered-block {
    margin-top: 35px; }
  .subscription__plan-container {
    width: 300px;
    margin-bottom: 24px; }
  .subscription__plan {
    width: 141.132px;
    height: 141.132px; }
  .subscription__forms button {
    left: 216px; }
  .subscription__text-one {
    padding: 0 !important; }
    .subscription__text-one p {
      font-size: 12px;
      padding-right: 15px; }
  .subscription__items {
    padding: 0 !important; }
  .billings {
    margin-top: 25px; }
  .pay__button button {
    width: 272px; } }

@media screen and (max-width: 1200px) {
  .billings__container {
    margin-bottom: 60px; } }
