.button-blue, .pay__button button {
  border: none;
  background: #00b0ff; }
  .button-blue:focus, .pay__button button:focus {
    outline: none; }
  .button-blue:hover, .pay__button button:hover {
    background: #0099de; }

.button-gray, .subscription__forms button, .billings__delete {
  background: #B3B3B3; }
  .button-gray:focus, .subscription__forms button:focus, .billings__delete:focus {
    outline: none; }
  .button-gray:hover, .subscription__forms button:hover, .billings__delete:hover {
    background: #a0a0a0; }

.button-green, .subscription__payment-button, .billings__save-edit {
  background: #4BC46A; }
  .button-green:focus, .subscription__payment-button:focus, .billings__save-edit:focus {
    outline: none; }
  .button-green:hover, .subscription__payment-button:hover, .billings__save-edit:hover {
    background: #3cad59; }

.all-page__wrapper {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.subscription__footer {
  min-height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.subscription__header {
  width: 100%;
  margin: 0 !important;
  height: 53px;
  border-bottom: 1px solid #E6E6E6; }

.subscription__items {
  padding: 0;
  height: 49px; }

.subscription__image {
  width: 14px;
  height: 26px; }

.subscription__circle {
  display: inline-block;
  margin-right: 45px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #00b0ff;
  position: relative; }
  .subscription__circle:before {
    content: "";
    height: 1px;
    width: 60px;
    background: #00b0ff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -60px; }
  .subscription__circle--last {
    margin-right: 0; }
    .subscription__circle--last:before {
      display: none; }
    .subscription__circle--last:before {
      height: 1px;
      width: 25px;
      right: -25px; }

.subscription__top {
  width: 100%; }

.subscription__centered-block {
  margin-top: 90px; }

.subscription__centered-text p {
  font-size: 14px;
  color: #B3B3B3; }

.subscription__plan-container {
  width: 377px;
  margin-top: 24px;
  margin-bottom: 48px; }

.subscription__price-text {
  color: #B3B3B3;
  font-size: 12px; }

.subscription__plan {
  width: 178px;
  height: 178px;
  border: solid 1px;
  position: relative;
  cursor: pointer;
  border-color: #B3B3B3; }
  .subscription__plan-selected {
    border-color: #00b0ff; }
  .subscription__plan-text {
    color: #4d4d4d; }
  .subscription__plan:hover {
    border-color: #00b0ff; }

.subscription__hover-touched {
  width: 24px;
  height: 24px;
  background: #00b0ff;
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: 3;
  border-radius: 50%; }
  .subscription__hover-touched img {
    width: 14px;
    height: 20px;
    position: relative;
    top: -1.5px;
    left: 5px; }
  .subscription__hover-touched--circle-hidden {
    display: none;
    border-color: #00b0ff; }

.subscription__forms {
  display: none; }
  .subscription__forms small {
    padding-left: 5px; }
  .subscription__forms button {
    position: relative;
    top: -55px;
    left: 292px;
    border-radius: 14px;
    color: #ffffff;
    border: none;
    font-size: 14px; }

.subscription__text-one p {
  margin-bottom: 0;
  padding-right: 27px;
  color: #B3B3B3;
  font-size: 14px; }

.subscription__page {
  padding: 0; }

.subscription__coupon-text label {
  font-size: 14px;
  color: #B3B3B3;
  cursor: pointer; }

.subscription__title-style {
  font-size: 18px;
  margin-top: 6px;
  color: #4d4d4d; }

.subscription__payment-button {
  border-radius: 22.5px;
  color: #ffffff;
  width: 226px;
  height: 45px;
  font-size: 14px;
  border: none;
  margin: 0 28px; }

.billings {
  margin-top: 50px; }
  .billings__form-text {
    font-size: 12px;
    color: #ff5050;
    padding-left: 5px;
    display: none; }
  .billings__container {
    max-width: 500px !important;
    margin-bottom: 10px; }
  .billings__form-container {
    margin: auto; }
  .billings__label-container {
    width: 160px;
    line-height: 1.7; }
    .billings__label-container label {
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: #4d4d4d; }
    .billings__label-container button {
      border-radius: 14px;
      width: 82.5px; }
  .billings__input-container {
    width: 100%;
    height: 53px; }
    .billings__input-container input {
      border: none;
      border-bottom: 1px solid;
      border-radius: 0;
      border-color: #B3B3B3;
      font-size: 14px;
      padding: 5.5px 0px; }
      .billings__input-container input::-webkit-input-placeholder {
        color: #B3B3B3; }
      .billings__input-container input:-ms-input-placeholder {
        color: #B3B3B3; }
      .billings__input-container input::placeholder {
        color: #B3B3B3; }
    .billings__input-container--hidden {
      display: none; }
  .billings__save-button {
    width: 100%; }
    .billings__save-button button {
      width: 50%;
      height: 35px;
      color: #ffffff;
      font-size: 14px;
      border: none;
      border-radius: 17px;
      padding: 0; }
      .billings__save-button button:focus {
        outline: none; }
  .billings__delete {
    margin-right: 10px; }
  .billings__edit-title {
    width: 12px;
    height: 12px; }
  .billings__number {
    width: 60%;
    outline: none;
    border-bottom: 1px solid;
    height: 29px;
    margin-right: 10%; }
    .billings__number:focus {
      border-color: #5cb3fd; }
  .billings__extra {
    width: 30%;
    float: right;
    outline: none;
    border-bottom: 1px solid;
    height: 29px; }
    .billings__extra:focus {
      border-color: #5cb3fd; }
  .billings__border-style {
    width: 1px;
    background: #F2F2F2;
    height: 100%;
    margin: auto; }
  .billings__control-selected {
    background: white;
    border: none;
    border-bottom: solid 1px #E6E6E6;
    background: url(../assets/arrow.svg) no-repeat right center;
    width: 100%;
    background-size: 13px;
    background-position-y: center;
    background-position-x: 98%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: start;
    font-size: 14px;
    padding-left: 7.5px; }
    .billings__control-selected:focus {
      outline: none; }
  .billings__control > .dropdown-menu {
    width: 100%;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: 0;
    padding: 2px 0 42px 0;
    -webkit-box-shadow: -3.42px 3.42px 4px rgba(158, 158, 158, 0.4);
            box-shadow: -3.42px 3.42px 4px rgba(158, 158, 158, 0.4);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-3.42, OffY=3.42, Color='#9E9E9E'); }
  .billings__control .dropdown-item {
    padding-left: 8px;
    font-size: 14px; }
  .billings__control .dropdown-divider {
    margin: 2px 8px; }
  .billings__control button {
    color: #4d4d4d; }

.pay__items {
  height: 100%; }

.pay__info {
  max-width: 500px !important; }

.pay__text {
  max-width: 363px; }
  .pay__text p {
    font-size: 12px;
    color: #B3B3B3; }
  .pay__text-gray {
    margin-right: 6px;
    font-size: 12px;
    color: #B3B3B3; }
  .pay__text-blue {
    font-size: 12px;
    color: #00b0ff;
    text-decoration: none; }
    .pay__text-blue:hover {
      text-decoration: none;
      color: #0099de; }

.pay__image img {
  width: 280px;
  height: 30px; }

.pay__button button {
  background: #00b0ff;
  color: #ffffff;
  width: 280px;
  height: 35px;
  border-radius: 17px;
  font-size: 14px; }

.payment__title {
  margin-bottom: 32px;
  margin-top: 8px; }
  .payment__title-text {
    margin-bottom: 15px;
    margin-top: 32px; }

.payment__margin {
  margin-bottom: 32px; }

.payment__text {
  max-width: 340px; }
  .payment__text-style {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: bold; }

.payment__image {
  max-width: 389px;
  height: auto;
  margin-top: 31px; }

.payment__footer {
  height: 77px; }

#billings__edit {
  display: none; }

#billings__delete {
  display: none; }

#page-one {
  height: 100%; }

#page-two {
  display: none; }

#title-container {
  height: 53px;
  cursor: pointer; }
  #title-container label {
    cursor: pointer; }

#page-three {
  height: 100%;
  display: none; }

#page-three-button {
  display: none; }

.circle-hidden {
  display: none; }

#add-coupon {
  padding: 0;
  color: #B3B3B3; }

#coupon {
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #B3B3B3;
  font-size: 14px; }
  #coupon::-webkit-input-placeholder {
    color: #B3B3B3; }
  #coupon:-ms-input-placeholder {
    color: #B3B3B3; }
  #coupon::placeholder {
    color: #B3B3B3; }

#coupon-invalid {
  opacity: 0; }

@media only screen and (max-width: 400px) {
  .subscription__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 767px) {
  .subscription__header {
    padding-left: 15px; }
  .subscription__circle {
    margin-right: 25px; }
    .subscription__circle:before {
      height: 1px;
      width: 25px;
      right: -25px; }
  .subscription__centered-block {
    margin-top: 35px; }
  .subscription__plan-container {
    width: 300px;
    margin-bottom: 24px; }
  .subscription__plan {
    width: 141.132px;
    height: 141.132px; }
  .subscription__forms button {
    left: 216px; }
  .subscription__text-one {
    padding: 0 !important; }
    .subscription__text-one p {
      font-size: 12px;
      padding-right: 15px; }
  .subscription__items {
    padding: 0 !important; }
  .billings {
    margin-top: 25px; }
  .pay__button button {
    width: 272px; } }

@media screen and (max-width: 1200px) {
  .billings__container {
    margin-bottom: 60px; } }
