.button-blue {
  border: none;
  background: #00b0ff; }
  .button-blue:focus {
    outline: none; }
  .button-blue:hover {
    background: #0099de; }

.button-gray {
  background: #B3B3B3; }
  .button-gray:focus {
    outline: none; }
  .button-gray:hover {
    background: #a0a0a0; }

.button-green {
  background: #4BC46A; }
  .button-green:focus {
    outline: none; }
  .button-green:hover {
    background: #3cad59; }
